<div>
  <article class="question">
    <a id="delete_question" class="delete" href="/delete_question">X</a>
    <input type="text" name="question<%="#{@question_id}"%>" placeholder="question">
    <input class="add_choice" type="submit" value="add choice">
  </article>
  <br><br>
</div>
