<!DOCTYPE html>
<html lang="en">
<head>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu|UbunDtu+Condensed' rel='stylesheet' type='text/css'>


  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="/sass/style.css">
  <!-- <link rel="stylesheet" href="/css/application.css">
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/create_survey.js"></script>
  <script src="/js/survey_result.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/survey_take.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
