  <form class="inputfields" action="/signup" method="post">
    <h2>Sign Up</h2>
    Username
    <input type="text" name="username">
    </br>
    Email
    <input type="text" name="email">
    </br>
    Password
    <input type="password" name="password"><br><br>

    <input type="submit">
  </form>
